/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.wrapper {
    margin:0 auto;
    width: 1050px;
}


.header {
    border-radius:5px;
    height:100px;
    background-color:#606060;
    text-align: center;
    
}

.table{

    width: 500px;
    margin: 0 auto;
    
}

.title{
    text-align: center;
     height: 40px;
    
}

.building-block{
    width: 400px;
    height: 300px;
}

.category_image_preview{
    display: block;
    height:100px;
    width:100px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(228, 228, 228);
    margin: 0 auto;
}

.puzzle_table{
    margin:0 0px 0 0px;
}

.puzzle{
    margin:0 auto;
    height:100px;
    width:100px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(228, 228, 228);
    
}
.usermenu{
    float: right;
    margin: 20px 20px 20px 0;
    text-align: left;
}

.block1{
  position: relative;
}
.edit_link{
    position: absolute;
    top: 3px;
    right: 3px;
}