<h1>Listing categories</h1>

<ul>
  <% @categories.each do |category| %>
 
    
  <li>
    <div class="building-block">
    <span><%= link_to category.name, category%></span>
    <p><%=  category.status%></p>
   
    
        <%=render :partial => "category_preview", :locals => { :category => category }%>
      
   
    </div>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Category', new_category_path %>
